[user]
	name = Peter Kerpedjiev
	email = pkerpedjiev@zymergen.com
[color]
	ui = auto
[alias]
    l = log --graph --pretty=format:'%C(yellow)%h%Creset%C(blue)%d%Creset %C(red bold)%s%Creset %C(red dim)(by %an %ar)%Creset'
    ll = !git l --all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
